# Prefer offline cache
prefer-offline=true

# Strict peer deps
strict-peer-dependencies=false

# Public registry
registry=https://registry.npmjs.org/

# Hoist patterns for napi
public-hoist-pattern[]=*napi*
